* {
  padding: 0;
  margin: 0;
}

.nav {
  width: 500px;
  height: 50px;
}

.navbar a {
  text-decoration: none;
}

body { 
  padding-top: 55px; 
}

.navbar img {
  float: left;
  height: 46px;
  margin: 2px;
} 

.navbar-nav li {
  font-size: 16px;
}

.navbar-nav a {
  float: left;
  margin-left: 20px;
  padding: 14px;
}

.active{
  background-color: rgb(231, 228, 228);
}

#main-content {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  margin-top: 5px;
  padding-top: 20px;
  background-color: rgb(251, 251, 251);
  min-height: 135px;
  box-sizing: content-box;
}

.react-bs-table-container {
  height: auto!important;
}

.react-bs-container-body {
  height: auto!important;
}

.react-bs-table {
  height: auto!important;
  background-color: white;
}

.react-bs-table-pagination .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.table-championships img{
  margin-right: 5px;
}

.table-championships,
.table-teams {
  width: 580px; 
  margin: auto; 
}

.table-teams .react-bs-table{
  width: 230px;
  margin: auto;
}

.table-championships .react-bs-table{
  width: 230px;
  margin: auto;
}

.table-matches { 
  width: 270px; 
  margin: auto; 
}

.table-match { 
  width: 620px; 
  margin: auto; 
}

.react-bs-table-pagination .dropdown {
  margin-left: 175px;
}

.pagination {
  float: left;
}